<div class="container full-page">
<div class="container">
    <h3>Dados pessoais</h3>
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Nome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="CPF" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="Email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <h3>Endereço</h3>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="Endereço" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="CEP" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="Cidade/Estado" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <h3>Crie uma senha</h3>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="Senha" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input  type="text" class="form-control" placeholder="Confirmar senha" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

      <button type="button" class="btn">Cadastrar</button>
   

  </div>
</div>