.scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    gap: 3rem; 
    padding: 1rem;
    flex-wrap: wrap;
    
}


  .scroll-container::-webkit-scrollbar {
    height: 2px;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
  }