<div class="container">
  <section class="c-img">
    <img src="glow.svg" />
  </section>
  <section class="form">
    <form (ngSubmit)="login()">
      <div class="input-group input-group-sm mb-3">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="form-control"
          placeholder="email"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>
      <div class="input-group input-group-sm mb-3">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          placeholder="senha"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
     <button type="button" class="btn" routerLink="/app-cadastro">Cadastro</button>
    </form>
   
    <router-outlet />
  </section>
 
</div>
