
<div class="container full-page">

  <div class="container">
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="nome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control"  placeholder="cpf" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>

      <button type="button" class="btn">Login</button>
   
      <a routerLink="/app-cadastro">
        <button type="button" class="btn">Cadastro</button>
      </a>
      
      <router-outlet />
  </div>
</div>